.filter-button {
  background-color: #707cff;
  color: #ffffff;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
  border-style: none;
  outline: none;
  border-color: transparent;
}

.filter-button-clicked {
  background-color: orange !important;
}

html {
  background-color: rgb(36, 36, 36);

}